<!-- Input Box ID + Request ID -->
<div class="header-area">
    <div class="header-area-from-to">
        <mat-form-field>
            <mat-label>{{ 'History.From' | translate }}</mat-label>
            <input matInput type="date" [(ngModel)]="inputDateFrom" (change)="onFilterHistoryRequests()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'History.To' | translate }}</mat-label>
            <input matInput type="date" [(ngModel)]="inputDateTo" (change)="onFilterHistoryRequests()">
        </mat-form-field>
    </div>
    <div class="header-area-box-request">
        <mat-form-field>
            <mat-label>{{ 'History.BoxId' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputBoxId" (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'History.RequestId' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputRequestId"
                (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
    </div>
    <div class="header-area-destination-buttons">
        <mat-form-field>
            <mat-label>{{ 'History.Destination' | translate }}</mat-label>
            <input matInput placeholder="ID" type="text" [(ngModel)]="inputDestination"
                (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
        <div class="header-area-destinations-buttons-container">
            <button mat-icon-button (click)="onResetFilter()">
                <mat-icon>clear</mat-icon>
            </button>
            <button  mat-icon-button (click)="onClickDownloadHistory()" [disabled]="pagedHistory.totalResults === 0 || pagedHistory.totalResults > 10 ">
                <mat-icon *ngIf="!isDownloading">download</mat-icon>
                <mat-spinner  *ngIf="isDownloading" diameter="24"></mat-spinner>
            </button>
        </div>
    </div>
</div>


<!-- Request Info for each of requests Today -->
<div class="info-response">
    <!-- Pagination with buttons to go up and down-->
    <div class="info-response-pagination">
        <button mat-icon-button (click)="onClickPage('prev')" [disabled]="pagedHistory.currentPage === 1">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <p>{{ 'History.HistoryRequestsPaging' | translate: { from: pagedHistory.from, to: pagedHistory.to, total:
            pagedHistory.totalResults } }}</p>
        <button mat-icon-button (click)="onClickPage('next')"
            [disabled]="pagedHistory.currentPage === pagedHistory.totalPages || pagedHistory.totalResults === 0">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

    <!-- If there are requests today -->
    <ng-container *ngIf="pagedHistory.results">
        <app-request-info *ngFor="let request of pagedHistory.results"
            [requestInfo]="request">
        </app-request-info>
    </ng-container>
</div>