<!-- Input Box ID + Request ID -->
<div class="header-area">
    <div class="header-area-current-as-destination">
        <mat-checkbox *ngIf="!currentIzService.isCurrentIzNetworkZone" [(ngModel)]="inputCurrentAsDestination"
            (change)="onChangeCurrentAsDestination()">
            {{ 'History.CurrentAsDestination'
            | translate }}</mat-checkbox>
        <span *ngIf="currentIzService.isCurrentIzNetworkZone"></span>
        <mat-checkbox [disabled]="inputCurrentAsDestination" [(ngModel)]="inputShowErrors"
            (change)="onFilterHistoryRequests()">{{ 'History.ShowErrors'
            | translate }}</mat-checkbox>
    </div>
    <div class="header-area-from-to">
        <mat-form-field>
            <mat-label>{{ 'History.From' | translate }}</mat-label>
            <input matInput type="date" [(ngModel)]="inputDateFrom" (change)="onFilterHistoryRequests()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'History.To' | translate }}</mat-label>
            <input matInput type="date" [(ngModel)]="inputDateTo" (change)="onFilterHistoryRequests()">
        </mat-form-field>
    </div>
    <div class="header-area-box-request">
        <mat-form-field>
            <mat-label>{{ 'History.BoxId' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputBoxId" (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'History.RequestId' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputRequestId" (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
    </div>
    <div class="header-area-box-request">
        <mat-form-field>
            <mat-label *ngIf="!inputCurrentAsDestination">{{ 'History.Destination' | translate }}</mat-label>
            <mat-label *ngIf="inputCurrentAsDestination">{{ 'History.Sender' | translate }}</mat-label>
            <input matInput placeholder="Name / Code" type="text" [(ngModel)]="inputLibrary"
                (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'History.Barcode' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputBarcode" (keyup)="onFilterHistoryRequests()">
        </mat-form-field>
    </div>
    <div class="header-area-buttons">
        <button class="header-area-main-button" (click)="onResetFilter()">
            <mat-icon>clear</mat-icon>
            {{ 'Requests.Clear' | translate }}
        </button>
        <button class="header-area-main-button dark" (click)="onClickDownloadHistory()"
            [disabled]="pagedHistory && pagedHistory.totalResults === 0">
            <mat-icon *ngIf="!isDownloading">download</mat-icon>
            <mat-spinner color="white" *ngIf="isDownloading" diameter="18"></mat-spinner>
            {{ 'Requests.Download' | translate }}
        </button>
        <!--
            <button mat-icon-button (click)="onResetFilter()">
                <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button (click)="onClickDownloadHistory()" [disabled]="pagedHistory && pagedHistory.totalResults === 0">
                <mat-icon *ngIf="!isDownloading">download</mat-icon>
                <mat-spinner  *ngIf="isDownloading" diameter="24"></mat-spinner>
            </button>
            -->
    </div>
</div>

<!-- Mark all errors as read -->
<div class="history-mark-errors" *ngIf="inputShowErrors && isUnreadErrors">
    <button class="main-button" mat-icon-button (click)="onClickMarkAllErrors()">
        <mat-icon>done_all</mat-icon>
        {{ 'History.MarkAllAsRead' | translate }}
    </button>
</div>

<!-- Request Info for each of requests Today -->
<div class="history-info-response" *ngIf="pagedHistory">
    <!-- Pagination with buttons to go up and down-->
    <div class="history-info-response-pagination">
        <button mat-icon-button (click)="onClickPage('prev')" [disabled]="pagedHistory.currentPage === 1">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <p>{{ 'History.HistoryRequestsPaging' | translate: { from: pagedHistory.from, to: pagedHistory.to, total:
            pagedHistory.totalResults } }}</p>
        <button mat-icon-button (click)="onClickPage('next')"
            [disabled]="pagedHistory.currentPage === pagedHistory.totalPages || pagedHistory.totalResults === 0">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

    <!-- If there are requests today -->
    <ng-container *ngIf="pagedHistory.results">
        <app-request-info *ngFor="let request of pagedHistory.results; let i = index" [request]="request"
            [index]="pagedHistory.from + i" [showBoxDate]="true">
        </app-request-info>
    </ng-container>
</div>