
.history-info-response {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.history-info-response-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    p {
        margin: 0;
    }
}

.history-mark-errors {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;

    button {
        width: auto;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 0.25rem;
        cursor: pointer;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}