@import './app/components/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    :root {
        height: 100%;
        --slsp-purple: rgba(78, 74, 153, 1); // or any global you wish to share with components
        --slsp-purple-light: #eeeef7;
        --slsp-purple-transparent: rgba(78, 74, 153, 0.1);
    }
    cloudapp-alert {
        font-weight: bold;
        position: absolute;
        top: 1rem;
        width: 100%;
        z-index: 99;
    }
}

@mixin main-component-theme($theme, $typgraphy) {

    .loading-shade {
        flex-direction: column;

        .loading-info {
            margin-top: 1rem;
            padding: 8px;
            padding-right: 16px;
            padding-left: 16px;
            border-radius: 3px;
            font-size: 1.2em;
            color: #ffffff;
            background: mat-color(map-get($theme, primary));
        }
    }
}

body[class*=cloudapp-theme] {

    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: var(--slsp-purple) !important;
    }

    .mat-form-field-underline {
        /*change color of underline*/
        background-color: var(--slsp-purple) !important;
    }

    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: var(--slsp-purple) !important;
    }

    .mat-tab-body {
        margin-top: 0 !important;
    }
    
    .mat-tab-group {
        flex-grow: 1;
    }
    
    .mat-tab-group.mat-primary .mat-ink-bar {
        border-radius: 5px;
        height: 5px;
        background-color: white !important;
        margin: 5px;
        width: calc(100% / 3 - 10px) !important;
    }

    .mat-tab-labels {
        background-color: var(--slsp-purple);
        border-radius: 5px;

        .mat-tab-label {
            opacity: 0.8;
        }
    }

    .mat-tab-label-content {
        color: white;
    }

    .mat-tab-label-active {
        //background-color: #3398dc !important;
        opacity: 1 !important;
    }

    .mat-warn {
        color: #c94a41 !important;
    }
    .mat-success {
        color: #4CAF50;
    }
}

/* Input Header for each Tab */
.header-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--slsp-purple-light);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 0px 8px;

    .mat-form-field {
        width: 100%;
    }
    .mat-form-field-infix {
       width: 100%;
    }

    .mat-flat-button {
        margin-left: 1rem;
        height: fit-content;
    }

    .header-area-box-id {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .mat-form-field {
            width: 100%;
        }
    }

    .header-area-request-area {
        display: flex;
        width: 100%;
        align-items: center;
        column-gap: 8px;

        .header-area-request-id {
            width: 100%;
        }
        .header-area-request-button {
            display: flex;
            height: fit-content;
            align-items: center;
            white-space: nowrap;
            background: white;
            border-radius: 5px;
            border: 2px solid var(--slsp-purple);
            cursor: pointer;

            &:disabled {
                border: 2px solid #ccc;
            }
        }
    }

    .header-area-from-to {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        column-gap: 16px;

    }

    .header-area-box-request {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        column-gap: 16px;

    }

    .header-area-destination-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        column-gap: 16px;
        .mat-form-field {
            width: 50%;
        }
        .header-area-destinations-buttons-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 50%;
        }
    }


}
