@import './app/components/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

// FIXME: clean this mess up

@mixin global-styles {


    :root {
        height: 100%;
        --slsp-purple: rgba(78, 74, 153, 1); // or any global you wish to share with components
        --slsp-purple-light: #eeeef7;
        --slsp-purple-transparent: rgba(78, 74, 153, 0.1);
    }

    /*
    body[class*=cloudapp-theme] {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    */

    cloudapp-alert {
        font-weight: bold;
        position: absolute;
        top: 1rem;
        width: 100%;
        z-index: 99;
    }

    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: var(--slsp-purple) !important;
    }

    .mat-form-field-underline {
        /*change color of underline*/
        background-color: var(--slsp-purple) !important;
    }

    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: var(--slsp-purple) !important;
    }

    .info-test-env {
        color: #963031;
        border: 2px solid #963031;
        text-align: center;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0.5rem;
        font-weight: bold;
    }
}

@mixin main-component-theme($theme, $typgraphy) {
   
    .loading-shade {
        flex-direction: column;

        .loading-info {
            margin-top: 1rem;
            padding: 8px;
            padding-right: 16px;
            padding-left: 16px;
            border-radius: 3px;
            font-size: 1.2em;
            color: #ffffff;
            background: mat-color(map-get($theme, primary));
        }
    }
}

body[class*=cloudapp-theme] {


.mat-tab-group.mat-primary .mat-ink-bar {
    border-radius: 5px;
    height: 5px;
    background-color: white !important;
    margin: 5px;
    width: calc(100% / 3 - 10px) !important;
}

.mat-tab-labels {
    background-color: var(--slsp-purple);
    border-radius: 5px;

    .mat-tab-label {
        opacity: 0.8;
    }
}

.mat-tab-label-content {
    color: white;
}

.mat-tab-label-active {
    //background-color: #3398dc !important;
    opacity: 1 !important;
}


}