.request-info-table-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.request-info-table-actions {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.request-info-table {
    width: 100%;
    border-collapse: collapse;

    &.deleted {
        color: rgb(183, 0, 0);
    }

    th.checkbox-header {
        border-right: none;
        background-color: #e4e4e4;

        mat-checkbox {
            margin-bottom: 5px;
        }
    }

    .request-info-header {
        background-color: #e4e4e4;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .mat-icon {
            cursor: pointer;
        }
    }

    /*
    tr:nth-child(even) {
        background-color: #ffffff;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
    */


    td {
        width: 100%;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 2px 4px;
        text-align: left;
    }

    .cell-with-status-icon {
        font-weight: 400;
        gap: 5px;
        justify-content: start;
        color: rgb(183, 0, 0)
    }

    .cell-with-action-icon {
        justify-content: space-between;
    }

    .cell-with-status-icon,
    .cell-with-action-icon {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .cell-with-action-icon .mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }

    .cell-with-status-icon .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
    }
}