<div class="request-info-table-wrapper">
    <table class="request-info-table" [class.deleted]="request.isDeleting">
        <tr>
            <!-- Header -->
            <th class="checkbox-header">
                <mat-checkbox *ngIf="onSelectRequest != undefined" [(ngModel)]="request.isSelected"
                    (change)="onClickSelectRequest($event)"></mat-checkbox>
            </th>
            <td class="request-info-header">
                <div>
                    {{ index ? '#' + index : 'Requests.RequestInfo.NewRequest' | translate }}
                    <div class="request-info-header-actions">
                        <div *ngIf="showBoxDate" class="">
                            {{ request.box_label.creation_time | date: 'dd/MM/yyyy' }}
                        </div>
                        <div class="">
                            <mat-icon (click)="onClickPrintRequestPdf()">print</mat-icon>
                        </div>
                        <div *ngIf="onCancelRequest !== undefined">
                            <mat-icon class="cancel-button" *ngIf="!request.isDeleting"
                                (click)="onClickCancelRequest()">cancel</mat-icon>
                            <mat-spinner color="warn" *ngIf="request.isDeleting" diameter="22"></mat-spinner>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <!-- Barcode -->
            <th scope="row"> {{ 'Requests.RequestInfo.Barcode' | translate }}</th>
            <td> {{ request.barcode ? request.barcode : 'N/A' }} </td>
        </tr>
        <tr>
            <!-- Type  -->
            <th scope="row"> {{ 'Requests.RequestInfo.Type' | translate }}</th>
            <td> {{ 'Requests.RequestInfo.TypeValue.' + request.type | translate }} </td>
        </tr>
        <tr>
            <!-- Sender -->
            <th scope="row"> {{ 'Requests.RequestInfo.Sender' | translate }}</th>
            <td> {{ request.box_label.directories_name }} ({{ request.box_label.directories_code }})</td>
        </tr>
        <tr>
            <!-- Destination -->
            <th scope="row"> {{ 'Requests.RequestInfo.Destination' | translate }}</th>
            <td> {{ request.destination_directories_name }} ({{ request.destination_directories_code }})</td>
        </tr>
        <tr>
            <!-- Request ID (Internal) -->
            <th scope="row"> {{ 'Requests.RequestInfo.RequestId' | translate }}</th>
            <td>
                {{ request.internal_id }}
                <!--
                <div class="cell-with-action-icon">
                    {{ request.internal_id }}
                    <mat-icon (click)="onClickPrintRequestPdf()">print</mat-icon>
                </div>
                -->

            </td>
        </tr>
        <tr>
            <!-- Request ID (External) -->
            <th scope="row"> {{ 'Requests.RequestInfo.RequestIdExternal' | translate }}</th>
            <td> {{ request.external_id }} </td>
        </tr>
        <tr>
            <!-- Box ID -->
            <th scope="row"> {{ 'Requests.RequestInfo.BoxId' | translate }}</th>
            <td>
                <div class="cell-with-action-icon">
                    {{ request.box_label.box_id }}
                    <!-- 
                        <mat-icon (click)="onClickPrintBoxIdPdf()">print</mat-icon>
                    -->
                </div>
            </td>
        </tr>
        <tr *ngIf="request.isError()">
            <!-- 7DM Error -->
            <th scope="row"> {{ 'Requests.RequestInfo.Error' | translate }}</th>
            <td>
                <div class="cell-with-status-icon" color="warn">
                    <mat-icon color="warn" (click)="onClickCancelRequest()">info</mat-icon>
                    {{ request.message }}
                </div>
            </td>
        </tr>
        <tr *ngIf="request.isNotRapido()">
            <!-- IS not rapido request -->
            <th scope="row"> {{ 'Requests.RequestInfo.Warning' | translate }}</th>
            <td>
                <div class="cell-with-status-icon" color="warn">
                    <mat-icon color="warn">warning</mat-icon>
                    {{ 'Requests.RequestInfo.NotRapido' | translate }}
                </div>
            </td>
        </tr>
        <tr *ngIf="request.isSentTwice()">
            <!-- Sent twice -->
            <th scope="row"> {{ 'Requests.RequestInfo.Warning' | translate }}</th>
            <td>
                <div class="cell-with-status-icon" color="warn">
                    <mat-icon color="warn">warning</mat-icon>
                    {{ 'Requests.RequestInfo.SentTwice' | translate }}
                </div>
            </td>
        </tr>
        <tr *ngIf="request.isOutdated()">
            <!-- Outdated -->
            <th scope="row"> {{ 'Requests.RequestInfo.Warning' | translate }}</th>
            <td>
                <div class="cell-with-status-icon" color="warn">
                    <mat-icon color="warn">warning</mat-icon>
                    {{ 'Requests.RequestInfo.Outdated' | translate }}
                </div>
            </td>
        </tr>
    </table>
</div>