.request-info-table-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.request-info-table-actions {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.request-info-table {
    width: 100%;
    border-collapse: collapse;

    &.deleted {
        color: rgb(183, 0, 0);
    }

    th.checkbox-header {
        border-right: none;
        background-color: #e4e4e4;

        mat-checkbox {
            padding-left: 4px;
            margin-bottom: 5px;
        }
    }

    .request-info-header {
        background-color: #e4e4e4;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;



        }

        .request-info-header-actions {
            display: flex;
            flex-direction: row;
            column-gap: 25px;

            mat-icon {
                width: 24px;
                height: 24px;
                font-size: 24px;
                cursor: pointer;
            }

            .cancel-button:hover {
                color: rgb(183, 0, 0);
            }
        }
    }


    th,
    td {
        border: 1px solid #000;
        text-align: left;
        padding: 0px 4px;
        text-align: left;
        height: 30px;
    }

    td {
        width: 100%;
    }

    .cell-with-status-icon {
        font-weight: 400;
        gap: 5px;
        justify-content: start;
        color: rgb(183, 0, 0)
    }

    .cell-with-action-icon {
        justify-content: space-between;

        mat-icon {
            width: 24px;
            height: 24px;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .cell-with-status-icon,
    .cell-with-action-icon {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .cell-with-status-icon .mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
}