<div class="request-info-table-wrapper">
    <table class="request-info-table" [class.deleted]="requestInfo.isDeleting">
        <tr>
            <!-- Barcode -->
            <th scope="row"> {{ 'Requests.RequestInfo.Barcode' | translate }}</th>
            <td>
                <div class="cell-with-action-icon">
                    {{ requestInfo.barcode ? requestInfo.barcode : 'N/A' }}
                    <mat-icon *ngIf="onCancelRequest !== undefined && !requestInfo.isDeleting" color="warn" (click)="onClickCancelRequest()">cancel</mat-icon>
                    <mat-spinner color="warn" *ngIf="requestInfo.isDeleting" diameter="18"></mat-spinner>
                </div>
            </td>
        </tr>
        <tr>
            <!-- Type  -->
            <th scope="row"> {{ 'Requests.RequestInfo.Type' | translate }}</th>
            <td> {{ 'Requests.RequestInfo.TypeValue.' + requestInfo.type | translate }} </td>
        </tr>
        <tr>
            <!-- Sender -->
            <th scope="row"> {{ 'Requests.RequestInfo.Sender' | translate }}</th>
            <td> {{ requestInfo.sending_library_name }} ({{ requestInfo.sending_library_alma_code }})</td>
        </tr>
        <tr>
            <!-- Destination -->
            <th scope="row"> {{ 'Requests.RequestInfo.Destination' | translate }}</th>
            <td> {{ requestInfo.destination_library_name }} ({{ requestInfo.destination_library_alma_code }})</td>
        </tr>
        <tr>
            <!-- Request ID (Internal) -->
            <th scope="row"> {{ 'Requests.RequestInfo.RequestId' | translate }}</th>
            <td>
                <div class="cell-with-action-icon">
                    {{ requestInfo.internal_id }}
                    <mat-icon  (click)="onClickPrintRequestPdf()">print</mat-icon>
                </div>
            </td>
        </tr>
        <tr>
            <!-- Request ID (External) -->
            <th scope="row"> {{ 'Requests.RequestInfo.RequestIdExternal' | translate }}</th>
            <td> {{ requestInfo.external_id }} </td>
        </tr>
        <tr>
            <!-- Box ID -->
            <th scope="row"> {{ 'Requests.RequestInfo.BoxId' | translate }}</th>
            <td>
                <div class="cell-with-action-icon">
                    {{ requestInfo.box_id }}
                    <mat-icon (click)="onClickPrintBoxIdPdf()">print</mat-icon>
                </div>
            </td>
        </tr>
        <tr *ngIf="!requestInfo.isReady() && !requestInfo.isSent()">
            <!-- Message (Warning, Error, ...) -->
            <th scope="row"> {{ 'Requests.RequestInfo.Info' | translate }}</th>
            <td>
                <div class="cell-with-status-icon" color="warn">
                    <mat-icon color="warn" (click)="onClickCancelRequest()">info</mat-icon>
                    {{ requestInfo.message }}
                </div>
            </td>
        </tr>
    </table>
    <!-- 
    <div class="request-info-table-actions">
        <button mat-icon-button (click)="onClickPrintRequestPdf()">
            <mat-icon>print</mat-icon>
        </button>
        <button [disabled]="requestInfo.isDeleting" mat-icon-button (click)="onClickCancelRequest()" color="warn">
            <mat-icon *ngIf="!requestInfo.isDeleting">cancel</mat-icon>
            <mat-spinner *ngIf="requestInfo.isDeleting" diameter="24"></mat-spinner>
        </button>
    </div>
    -->
</div>