<!-- Input Box ID + Request ID -->
<div class="header-area">
    <div class="header-area-box-id">
        <mat-form-field>
            <mat-label>{{ 'Today.Search' | translate }}</mat-label>
            <input matInput placeholder="{{ 'Today.SearchPlaceholder' | translate }}" 
            type="text" [(ngModel)]="inputSearch" (keyup)="onFilterRequests()">
        </mat-form-field>
        <button mat-icon-button (click)="onFilterRequests()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<!-- Request Info for each of requests Today -->
<div class="info-response">
    <h1 class="info-response-title">
        <mat-icon inline=true>today</mat-icon>
        {{ 'Today.TodayRequests' | translate: { number: filteredRequests.length } }}
    </h1>
    <!-- If there are requests today -->
    <ng-container *ngIf="filteredRequests">
        <app-request-info *ngFor="let request of filteredRequests" [requestInfo]="request"
            [onCancelRequest]="cancelRequest.bind(this)"></app-request-info>
    </ng-container>

    <!-- If there are no requests today -->
    <div *ngIf="filteredRequests.length === 0 && !inputSearch" class="no-requests">
        <p>{{ 'Today.NoRequests' | translate }}</p>
    </div>

    <!-- If there are no requests found upon search -->
    <div *ngIf="filteredRequests.length === 0 && inputSearch" class="no-requests">
        <p>{{ 'Today.NoRequestsSearch' | translate }}</p>
    </div>
</div>