
.info-response {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    h1 {
        display: flex;
        font-size: 120%;
        margin-bottom: 0;
        .mat-icon {
            margin-right: 8px;
        }
    }
}