<!-- Input Box ID + Request ID -->
<div class="header-area">
    <div class="header-area-box-id">
        <mat-form-field>
            <mat-label>{{ 'Today.Search' | translate }}</mat-label>
            <input matInput placeholder="ID" type="text" [(ngModel)]="inputSearch" (keyup.enter)="onClickSearch()">
        </mat-form-field>
        <button mat-icon-button (click)="onClickSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<!-- Request Info for each of requests Today -->
<div class="info-response">
    <h1 class="info-response-title">
        <mat-icon inline=true>today</mat-icon>
        {{ 'Today.TodayRequests' | translate }}
    </h1>
    <!-- If there are requests today -->
    <ng-container *ngIf="todayRequests">
        <app-request-info *ngFor="let request of todayRequests" [requestInfo]="request"
            [onCancelRequest]="cancelRequest.bind(this)"></app-request-info>
    </ng-container>

    <!-- If there are no requests today -->
    <div *ngIf="todayRequests.length === 0" class="no-requests">
        <p>{{ 'Today.NoRequests' | translate }}</p>
    </div>
</div>