<!-- Selection / Mass Actions -->
<div class="info-response-selection">
    <div class="info-response-selection-select ">
        <mat-checkbox [(ngModel)]="allSelected" (change)="onClickSelectAll()"></mat-checkbox>
        <span>{{ 'History.Selected' | translate: { total: totalRequestNumber, selected: selectedRequests.length }
            }}</span>
    </div>
    <div class="info-response-selection-actions">
        <mat-icon (click)="onClickPrintSelectedRequests()"
            [class]="selectedRequests.length > 0 ? 'active' : ''">print</mat-icon>
    </div>
</div>