// Selection
.info-response-selection {
    padding: 4px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    mat-checkbox {
        margin-bottom: 5px;
        .mat-checkbox-label {
            margin-top: 2px;
        }
    }
}
.info-response-selection-select {
    display: flex;
    align-items: center;
}
.info-response-selection-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        color: lightgray;
        &.active {
            cursor: pointer;
            color: inherit;
        }
    }
}