<div class="search-box">
    <mat-form-field>
        <mat-label>{{ 'Main.Search' | translate }}</mat-label>
        <input matInput placeholder="{{ 'Partners.LibraryName' | translate}}" type="text" [(ngModel)]="searchValue"
            (keyup)="search()">
    </mat-form-field>
</div>
<table *ngIf="response && response.length">
    <thead>
        <tr>
            <th>{{ 'Partners.LibraryName' | translate}}</th>
            <th>{{ 'Partners.AlmaCode' | translate}}</th>
            <th>{{ 'Partners.7DMCode' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of response">
            <td>{{ item.name }}</td>
            <td>{{ item.library_code }}</td>
            <td>{{ item.seven_dm_code }}</td>
        </tr>
    </tbody>
</table>