<mat-tab-group *ngIf="!loading && allowed">
    <mat-tab label="Requests">
        <app-requests></app-requests>
    </mat-tab>
    <mat-tab label="7DM Codes">
        <app-partners></app-partners>
    </mat-tab>
</mat-tab-group>

<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!allowed && !loading">
    <div class="institution-now-allowed">
        <h1>
            <mat-icon inline=true>error</mat-icon>
            Access Denied
        </h1>
    </div>
</div>
