<div class="search-box">
    <mat-form-field>
        <mat-label>Request Barcode</mat-label>
        <input matInput placeholder="ID" type="text" [(ngModel)]="requestID" (keyup.enter)="lookUpRequest()">
    </mat-form-field>
</div>
<div *ngIf="response">
    <table *ngIf="response">
        <thead>
            <tr>
                <th>Barcode</th>
                <th>Destination</th>
                <th>7DM code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ response.barcode }}</td>
                <td>{{ response.destination }}</td>
                <td>{{ response.seven_dm_code }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="request-failed" *ngIf="failed">
    <p> <br /> <i>{{ errorMessage }}</i></p>
</div>

<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
