<div class="search-box">
    <mat-form-field>
        <mat-label>{{ 'Requests.RequestBarcode' | translate }}</mat-label>
        <input matInput placeholder="ID" type="text" [(ngModel)]="requestID" (keyup.enter)="lookUpRequest()">
    </mat-form-field>
</div>
<div *ngIf="response">
    <table *ngIf="response">
        <thead>
            <tr>
                <th>{{ 'Requests.RequestBarcode' | translate }}</th>
                <th>{{ 'Requests.Destination' | translate }}</th>
                <th>{{ 'Requests.7DMCode' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ response.barcode }}</td>
                <td>{{ response.destination }}</td>
                <td>{{ response.seven_dm_code }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="request-failed" *ngIf="failed">
    <h1>
        <mat-icon inline=true>error</mat-icon>
        {{ errorMessage }}
    </h1>
    <p>
        {{ 'Requests.ContactSupport1' | translate }}
        <a href="https://slsp.ch/en/contact">
            {{ 'Requests.ContactSupport2' | translate }}
        </a>
        {{ 'Requests.ContactSupport3' | translate }}
        <br>
        {{ errorId }}
    </p>
</div>

<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
