<!-- Input Box ID + Request ID -->
<div class="header-area">
    <div class="header-area-box-id">
        <mat-form-field>
            <mat-label>{{ 'Requests.BoxId' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputBoxId" placeholder="{{ 'Requests.BoxId' | translate }}">
        </mat-form-field>
        <button mat-icon-button (click)="onClickRefreshBoxId()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="onClickPrintBoxIdPdf()">
            <mat-icon>print</mat-icon>
        </button>
        <!--
        <button mat-icon-button (click)="onClickPrintBoxIdHtml()">
            <mat-icon>print</mat-icon>
        </button>
        -->
    </div>
    <div class="header-area-request-area">
        <mat-form-field class="header-area-request-id">
            <mat-label>{{ 'Requests.RequestBarcode' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputRequestId" (keyup.enter)="onClickSendRequest()"
                placeholder="{{ 'Requests.RequestBarcode' | translate }}">
        </mat-form-field>
        <button class="header-area-request-button" (click)="onClickSendRequest()"
            [disabled]="!inputRequestId || !inputBoxId || !isTimeValid">
            <mat-icon>send</mat-icon>
            {{ 'Requests.SendTo7DM' | translate }}
        </button>
    </div>
</div>

<!-- Current Time is not valid (after 7pm )-->
<div class="request-failed" *ngIf="!isTimeValid">
    <h1>
        <mat-icon color="warn" inline=true>timelapse</mat-icon>
        {{ 'Requests.TimeNotValid' | translate }}
    </h1>
    <p>
        {{ 'Requests.TimeNotValidInfo' | translate }}
    </p>
</div>

<!-- Request Info -->
<div class="request-success" *ngIf="responseRequest">
    <h1>
        <mat-icon color="success" inline=true>check_circle</mat-icon>
        {{ 'Requests.RequestSent' | translate: { barcode: responseRequest.barcode } }}
    </h1>
    <app-request-info [requestInfo]="responseRequest" [onCancelRequest]="cancelRequest.bind(this)"></app-request-info>
</div>

<!-- Failed Request -->
<div class="request-failed" *ngIf="responseErrorId">
    <h1>
        <mat-icon color="warn" inline=true>error</mat-icon>
        {{ responseErrorMessage }}
    </h1>
    <p>
        {{ 'Requests.ContactSupport1' | translate }}
        <a href="https://slsp.ch/en/contact">
            {{ 'Requests.ContactSupport2' | translate }}
        </a>
        {{ 'Requests.ContactSupport3' | translate }}
        <br>
        {{ responseErrorId }}
    </p>
</div>