
.request-success,
.request-failed,
.request-warning {
    padding-top: 1rem;
    white-space: pre-line;

    .request-headers {
        display: flex;
        flex-direction: column;
        column-gap: 0.5rem;
        margin-bottom: 1rem;
    }
   
    h1 {
        display: flex;
        font-size: 120%;
        flex-direction: row;
        margin-bottom: 0;

        .mat-icon {
            margin-right: 4px;
            width: 22px;
            height: 22px;
            font-size: 22px;
        }
        .mat-icon.successful {
            color: rgb(0, 128, 0);
        }
        .mat-icon.warning {
            color: rgb(224, 198, 0);
        }
    }

    app-request-info {
        width: 100%;
    }
}

.request-warning {
    .mat-icon {
        color:  rgb(255, 165, 0);
    }
}