<!-- Input Box ID + Request ID -->
<div class="search-box">
    <div class="search-box-box-id">
        <mat-form-field>
            <mat-label>{{ 'Requests.BoxId' | translate }}</mat-label>
            <input matInput placeholder="ID" type="text" [(ngModel)]="inputBoxId">
        </mat-form-field>
        <button mat-icon-button (click)="onClickRefreshBoxId()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button [disabled]="true" mat-icon-button (click)="onClickPrintBoxId()">
            <mat-icon>print</mat-icon>
        </button>
    </div>
    <div class="search-box-request-id">
        <mat-form-field>
            <mat-label>{{ 'Requests.RequestBarcode' | translate }}</mat-label>
            <input matInput placeholder="ID" type="text" [(ngModel)]="inputRequestId"
                (keyup.enter)="onClickSendRequest()">

        </mat-form-field>
        <button mat-flat-button (click)="onClickSendRequest()" [disabled]="!inputRequestId || !inputBoxId">
            <mat-icon>send</mat-icon>
            {{ 'Requests.SendTo7DM' | translate }}
        </button>
    </div>
</div>

<!-- Request Info -->
<div class="info-response" *ngIf="infoResponse">
    <div class="info-message">
        {{ 'Requests.RequestSent1' | translate }}
        {{ infoResponse.barcode }}
        {{ 'Requests.RequestSent2' | translate }}
    </div>
    <app-request-info [requestInfo]="infoResponse"></app-request-info>

</div>

<!-- Failed Request -->
<div class="request-failed" *ngIf="isFailed">
    <h1>
        <mat-icon inline=true>error</mat-icon>
        {{ errorMessage }}
    </h1>
    <p>
        {{ 'Requests.ContactSupport1' | translate }}
        <a href="https://slsp.ch/en/contact">
            {{ 'Requests.ContactSupport2' | translate }}
        </a>
        {{ 'Requests.ContactSupport3' | translate }}
        <br>
        {{ errorId }}
    </p>
</div>