<!-- Input Box ID + Request ID -->
<div class="header-area">
    <div class="header-area-box-id">
        <mat-form-field>
            <mat-label>{{ 'Requests.BoxId' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputBoxId" placeholder="{{ 'Requests.BoxId' | translate }}">
        </mat-form-field>
        <button mat-icon-button (click)="onClickRefreshBoxId()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button [disabled]="!inputBoxId" mat-icon-button (click)="onClickPrintBoxIdPdf()">
            <mat-icon>print</mat-icon>
        </button>
    </div>
    <div class="header-area-request-area">
        <mat-form-field class="header-area-request-id">
            <mat-label>{{ 'Requests.RequestBarcode' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="inputRequestId" (keyup.enter)="onClickSendRequest()"
                [disabled]="isSendingRequest"
                placeholder="{{ 'Requests.RequestBarcode' | translate }}">
        </mat-form-field>
        <button class="header-area-main-button big" (click)="onClickSendRequest()"
            [disabled]="!inputRequestId || !inputBoxId || !isTimeValid || isSendingRequest">
            <mat-icon>send</mat-icon>
            {{ 'Requests.SendTo7DM' | translate }}
        </button>
    </div>
</div>

<!-- Current Time is not valid (after 7pm )-->
<div class="request-failed" *ngIf="!isTimeValid">
    <h1>
        <mat-icon color="warn" inline=true>timelapse</mat-icon>
        {{ 'Requests.TimeNotValid' | translate }}
    </h1>
    <p>
        {{ 'Requests.TimeNotValidInfo' | translate }}
    </p>
</div>

<!-- Request Info -->
<div class="request-success" *ngIf="responseRequest">
    <div class="request-headers">
        <!-- Success -->
        <h1>
            <mat-icon color="success" inline=true>check_circle</mat-icon>
            {{ 'Requests.RequestSent' | translate: { barcode: responseRequest.barcode } }}
        </h1>
        <!-- Warnings (Critical)-->
        <h1 class="request-info-info" *ngIf="responseRequest.isMultipleFulfilled">
            <mat-icon color="warn" inline=true>warning</mat-icon>
            <!-- {{ 'Requests.RequestInfo.MultipleFulfilled' | translate }} -->
            {{ 'Requests.RequestInfo.CheckWarning' | translate }}

        </h1>
        <h1 class="request-info-info" *ngIf="responseRequest.isRetried()">
            <mat-icon color="warn" inline=true>warning</mat-icon>
            <!-- {{ 'Requests.RequestInfo.Retried' | translate }}-->
            {{ 'Requests.RequestInfo.CheckWarning' | translate }}
        </h1>
        <!-- Warning (Info) -->
        <!-- 
        <h1 class="request-info-info" *ngIf="responseRequest.isNotRs">
            <mat-icon inline=true>info</mat-icon>
            {{ 'Requests.RequestInfo.NotResourceSharing' | translate }}
        </h1>
        -->
    </div>
    <app-request-info [request]="responseRequest" [onCancelRequest]="cancelRequest.bind(this)"></app-request-info>
</div>


<!-- Failed Request -->
<div class="request-failed" *ngIf="responseErrorId">
    <div class="request-headers">
        <h1>
            <mat-icon color="warn" inline=true>error</mat-icon>
            {{ responseErrorMessage }}
        </h1>
    </div>
    <p>
        {{ 'Requests.ContactSupport1' | translate }}
        <a href="https://slsp.ch/en/contact" target="_blank">
            {{ 'Requests.ContactSupport2' | translate }}
        </a>
        {{ 'Requests.ContactSupport3' | translate }}
        <br>
        {{ responseErrorId }}
    </p>
</div>