<!-- Loading Spinner -->
<div class="loading-shade" *ngIf="loader.isLoading | async">
    <mat-spinner diameter="50"></mat-spinner>
    <p class="loading-info">{{ status.message | async }}</p>
</div>

<!-- Beta Warning -->
<ng-container *ngIf="isInitialized">
    <div class="beta-warning">
        Exclusive access for pilot libraries: 30 Sept - 11 Oct
    </div>
</ng-container>
<!-- Tab / Main View -->
<ng-container *ngIf="isInitialized && isLibraryAllowed">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="{{ 'Main.Requests' | translate }}">
            <app-requests></app-requests>
        </mat-tab>
        <mat-tab label="{{ 'Main.Today' | translate }}">
            <app-today></app-today>
        </mat-tab>
        <mat-tab label="{{ 'Main.History' | translate }}">
            <app-history></app-history>
        </mat-tab>
    </mat-tab-group>
</ng-container>

<!-- Access Denied -->
<ng-container *ngIf="isInitialized && !isLibraryAllowed">
    <div class="institution-now-allowed">
        <h1>
            <mat-icon inline=true>error</mat-icon>
            {{ 'Welcome.AccessDenied' | translate }}
        </h1>
        <p>
            {{ 'Welcome.InstitutionDenied1' | translate }}
            <a href="https://slsp.ch/en/contact" target="_blank">
                {{ 'Welcome.InstitutionDenied2' | translate }}
            </a>
            {{ 'Welcome.InstitutionDenied3' | translate }}
        </p>
    </div>
</ng-container>