@mixin main-component-theme($theme, $typgraphy) {

    .loading-shade {
        height: 300px;
      flex-direction: column;
  
      .loading-info {
        margin-top: 1rem;
        padding: 8px;
        border-radius: 3px;
        font-size: 1.2em;
        color: #ffffff;
        // background-color: rgba($color: #000000, $alpha: 0.4);
        background: mat-color(map-get($theme, primary));
      }
    }
}
  