<!-- Loading Spinner -->
<div class="loading-shade" *ngIf="loader && loader.isLoading | async">
    <mat-spinner diameter="50"></mat-spinner>
    <p class="loading-info">{{ status.message | async }}</p>
</div>

<!-- Beta Warning -a->
<ng-container *ngIf="isInitialized">
    <div class="header-warning">
        This is a beta version of the SLSP - 7DM Cloudapp. <br>
        It's not connected to the production environment.
    </div>
</ng-container>
 -->

<!-- Error Indicator -->
<ng-container *ngIf="isInitialized && isUnreadErrors">
    <div class="header-warning">
        <mat-icon class="warning-icon">error</mat-icon>
        <div>
            {{ 'Main.UnreadErrors1' | translate }} <br>
            <a (click)="onClickSeeErrors()">
                {{ 'Main.UnreadErrors2' | translate }}
            </a> {{ 'Main.UnreadErrors3' | translate }}
        </div>
    </div>
</ng-container>

<!-- Tab / Main View -->
<ng-container *ngIf="isInitialized && isLibraryAllowed">
    <mat-tab-group [(selectedIndex)]="selectedTab" mat-stretch-tabs>
        <mat-tab label="{{ 'Main.Requests' | translate }}">
            <app-requests></app-requests>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon *ngIf="isWarningInToday" class="tab-icon">warning</mat-icon>
                {{ 'Main.Today' | translate }}
            </ng-template>
            <app-today></app-today>
        </mat-tab>
        <mat-tab label="{{ 'Main.History' | translate }}">
            <ng-template matTabContent>
                <app-history></app-history>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</ng-container>

<!-- Access Denied -->
<ng-container *ngIf="isInitialized && !isLibraryAllowed">
    <div class="institution-now-allowed">
        <h1>
            <mat-icon inline=true>error</mat-icon>
            {{ 'Welcome.AccessDenied' | translate }}
        </h1>
        <p>
            {{ 'Welcome.InstitutionDenied1' | translate }}
            <a href="https://slsp.ch/en/contact" target="_blank">
                {{ 'Welcome.InstitutionDenied2' | translate }}
            </a>
            {{ 'Welcome.InstitutionDenied3' | translate }}
        </p>
    </div>
</ng-container>