<!-- Loading Spinner -->
<div class="loading-shade" *ngIf="loader.isLoading | async">
    <mat-spinner diameter="50"></mat-spinner>
    <p class="loading-info">{{ status.message | async }}</p>
</div>

<!-- Beta Warning -->
<ng-container *ngIf="isInitialized">
    <div class="beta-warning">
        Warning: This app is in beta status.
    </div>
</ng-container>
<!-- Tab / Main View -->
<ng-container *ngIf="isInitialized && isLibraryAllowed">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="{{ 'Main.Requests' | translate }}">
            <app-requests></app-requests>
        </mat-tab>
        <mat-tab label="{{ 'Main.Today' | translate }}">
            <app-today></app-today>
        </mat-tab>
        <mat-tab label="{{ 'Main.History' | translate }}">
            <div style="width: 100%; text-align: center; padding-top: 2rem;">
                Coming soon ...
            </div>
        </mat-tab>
        <!-- API Test Tab
        <mat-tab label="7DM API">
            <app-testjson></app-testjson>
        </mat-tab>
         -->
    </mat-tab-group>
</ng-container>

<!-- Access Denied -->
<ng-container *ngIf="isInitialized && !isLibraryAllowed">
    <div class="institution-now-allowed">
        <h1>
            <mat-icon inline=true>error</mat-icon>
            {{ 'Welcome.AccessDenied' | translate }}
        </h1>
        <p>
            {{ 'Welcome.InstitutionDenied1' | translate }}
            <a href="https://slsp.ch/en/contact" target="_blank">
                {{ 'Welcome.InstitutionDenied2' | translate }}
            </a>
            {{ 'Welcome.InstitutionDenied3' | translate }}
        </p>
    </div>
</ng-container>