.entities-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.beta-warning {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
}

textarea {
    padding: 2px;
    border-width: 1px;
    $width: calc(100% - 6px);
    width: $width;
    max-width: $width;
    height: 150px;
    font-family: monospace;
    display: block;
}

pre {
    overflow: auto;
    max-height: 200px;
    white-space: pre-wrap;
    word-break: break-all;
}

pre,
textarea {
    font-size: 0.9em;
}

.mainmenu-link {
    color: var(--slsp-purple);
}

.select-entities {
    padding-top: 1rem;
}

.user-not-allowed,
.institution-now-allowed {
    padding-top: 1rem;

    h1 {
        display: flex;

        .mat-icon {
            margin-right: 4px;
        }
    }
}

.tab-icon {
    margin-right: 8px;
    transform: scale(0.9);
}